dev/prosody/resources/schema/corpusFolderSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://starling.rinet.ru/treeton" targetNamespace="http://starling.rinet.ru/treeton" elementFormDefault="qualified">
    <xs:element name="Document">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="parent" minOccurs="0" maxOccurs="1" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="guid" type="xs:string" use="required"/>
            <xs:attribute name="label" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>